.config-label {
    margin: 10px;
    margin-left: 0px;
}

#timestep-value, #timestep-unit {
    display: inline-block;
    vertical-align: top;
}

#timestep-value {
    width: calc(278px * 0.3);
    margin-right: 5px;
}

#timestep-unit {
    width: calc(278px * 0.7);
    margin-left: 5px;
}

#timestep-unit .Select-control {
    height: 39px;
}

#uncertainty-toggle {
    margin-top: 10px;
}

#apply, #apply_thr_1 , #apply_thr_2 {
    margin-top: 15px;
}
#output-clustering-1 , #output-clustering-2  {
    margin-top: 15px;
}
#template-id, #thr_1 ,#thr_2 {
    width: 288px
}

.form-control:disabled {
    background-color: #f9f9f9;
}

#color-column, #size-column, #x-axis, #y-axis {
    width: 288px
}

.toggle-select {
    margin-top: 10px;
}
