.config-label {
    margin: 10px;
    margin-left: 0px;
}

#timestep-value, #timestep-unit, #opacity-value, #opacity-unit {
    display: inline-block;
    vertical-align: top;
}

#timestep-value, #opacity-value {
    width: calc(278px * 0.3);
    margin-right: 5px;
}

#timestep-unit, #opacity-unit {
    width: calc(278px * 0.7);
    margin-left: 5px;
}

#timestep-unit .Select-control {
    height: 39px;
}

#apply {
    margin-top: 15px;
}

.form-control:disabled {
    background-color: #f9f9f9;
}

#color-column, #size-column, #x-axis, #y-axis, #template-id {
    width: 288px
}

.toggle-select {
    margin-top: 10px;
}

.hidden {
    display: none;
}
