.leaflet-container {
    height: 70vh;
    width: 50vw;
}

#time-slider {
    width: 50vw;
    margin-left: 1vw;
    padding: 0px !important;
    padding-top: 10px !important;
    display: inline-block;
}

.time-slider-button-group {
    margin-left: 1vw;
    margin-top: 1vw;
}

.slider-button {
    width: 3vw;
    padding: 5px;
    margin-right: 1px;
    display: inline-block;
}

#time-slider-value-container {
    margin-top: 1vw;
    margin-left: 1vw;
    padding: 5px;
}

.earthquake-popup .leaflet-popup-content {
    width: auto;
}

#map-wrapper[data-dash-is-loading='true']::after {
    content: 'Loading...';
    color: #119DFF;
    visibility: visible;
    font-weight: 700;
    float: right;
}

div > #map-wrapper {
    margin-bottom: 24px;
}

div > #map-wrapper[data-dash-is-loading='true'] {
    margin-bottom: 0;
}
