.leaflet-container {
    height: 70vh;
    width: 50vw;
}

#time-slider {
    width: 46vw;
    padding: 0px !important;
    padding-top: 10px !important;
    display: inline-block;
}

#time-slider-play-button {
    width: 3vw;
    margin: 0 1vw 0 0;
    display: inline-block;
}

#time-slider-value-container {
    margin: 0 0 0 4vw;
}

.earthquake-popup .leaflet-popup-content {
    width: auto;
}

#map-wrapper[data-dash-is-loading='true']::after {
    content: 'Loading...';
    color: #119DFF;
    visibility: visible;
    font-weight: 700;
    float: right;
}

div > #map-wrapper {
    margin-bottom: 24px;
}

div > #map-wrapper[data-dash-is-loading='true'] {
    margin-bottom: 0;
}
